@{
    ViewData["Title"] = "Change Password";

    string myMessage = ViewBag.Message;
    bool error = ViewBag.Error;

    string alertClass = error ? "danger" : "success";
}

@{
    if (myMessage != null && myMessage.Length > 0)
    {
        <div class="alert alert-@alertClass" role="alert">@myMessage</div>
    }
}

@section Scripts
{
<script src="~/js/SHA256.js"></script>
}

<div class="changePasswordOverall">
    <form method="post" action="/User/ChangePassword" onsubmit="return SubmitValidate2();">

        <input type="hidden" name="old_password_hash" value="" id="current-password-hash" />
        <input type="hidden" name="new_password_hash" value="" id="new-password-hash" />
        <input type="hidden" value="" id="confirm-password-hash" />

        <input type="hidden" name="redirect" value="" />
        <div class="form-group">
            <label for="username">Current Password</label>
            <input type="text" class="form-control" id="current-password"
                   placeholder="Enter username" onchange="EncryptPassword('current-password')">
            <div class="invalid-feedback" id="invalid-current-password"></div>
        </div>
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="new-password"
                   placeholder="Password" onchange="EncryptPassword('new-password')">
            <div class="invalid-feedback" id="invalid-new-password"></div>
        </div>
        <div class="form-group">
            <label for="password">Confirm New Password</label>
            <input type="password" class="form-control" id="confirm-password"
                   placeholder="Password" onkeyup="validateNewPasswords();">
            <div class="invalid-feedback" id="invalid-confirm-password"></div>
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
