@{
    ViewData["Title"] = "Coded Page";
}
<style>
body{
    background-color: #1c1c1c;
}
</style>
<div class="text-center easterEgg">
    <video width="800" controls autoplay class="easterEggVideo">
        <source src="~/lib/code/[QH2-TGUlwu4].bin" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <br />
    <span class="text-light">Original video:</span>
    <span><a href="https://www.youtube.com/watch?v=QH2-TGUlwu4" target="_blank">https://www.youtube.com/watch?v=QH2-TGUlwu4</a></span>
</div>